DOMAIN=inka.isek.se
SESSION_SECRET=changeme123
MAILER_AUTH_USER=long-service.id.name.noreply@isek.se
MAILER_AUTH_SERVICE_CLIENT=123456789987654321
MAILER_AUTH_PRIVATE_KEY=---------BEGIN PRIVATE KEY----------....
MAILER_SMTP_HOST=smtp.gmail.com
MAILER_SMTP_PORT=465
