#socialIcons
  a(href='https://www.linkedin.com/company/sektionen-f%C3%B6r-industriell-ekonomi/')
    img(src='/img/social-linkedin.svg')
  a(href='https://www.facebook.com/Isektionen')
    img(src='/img/social-facebook.svg')
  a(href='https://www.instagram.com/inkamassan')
    img(src='/img/social-instagram.svg')
#contactInfo
  p
    | Naturvetarvägen 14, 223 62 Lund
    br
    a(href='mailto:inka@isek.se') inka@isek.se
#isekLogoText
  a(href='https://isek.se')
    img(src='/img/footer-isek-logo.svg')