img#navbarLogo(src='/img/navbar-logo.svg')
nav#navbar.navbar.navbar-expand-lg.navbar-dark
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.mr-4.active
        a.nav-link(href='/') Hem
      li.nav-item.mr-4.active
        a.nav-link(href='#info') Pre-INKA
      li.nav-item.mr-4.active  
        a.nav-link(href= '#contact') Kontakt