doctype html
html(lang='sv')
  head
   include includes/head.pug

  body
    include includes/navbar.pug
    #contactsection1
      img#navbarLip(src='/img/navbar-lip.svg')   
    #section2
      .container
        .row
          .col.col-lg-6.text.pr-md-5
      #section2WaveBottom
        img(src='/img/section2-wave-bottom.svg')
    #section3
      .container
        .row
          .col.col-lg-8
    #eventsInfo
      #businessesHeader
        h2 Företag &amp; sponsorer
    #businesses
      include includes/business.pug

      #businessesWaveBottom
        img(src='/img/businesses-wave-bottom.svg')
    #contact
      include includes/footer.pug

    // jQuery, Popper.js, and Bootstrap JS
    include includes/scripts.pug