doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title INKA
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/login.css')

  body
    .text-primary.login-clean
      form(method='post')
        h2.mb-3 Glömt lösenord
        if showSuccess
          p.text-success En återställningslänk har skickats till din mailadress om ditt användarnamn existerar
        else
          p Skriv in ditt användarnamn nedan för att begära ett nytt lösenord
        .form-group
          input.form-control(type='text', placeholder='Användarnamn', name='username', required)
        .form-group
          button.btn.btn-primary.btn-block(type='submit') Skicka återställningslänk

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')