doctype html
html(lang='sv')
  head
   include includes/head.pug

  body
    include includes/navbar.pug
    #section1
      
      #jumbotronContent
        h3 INKA ARBETSMARKNADSMÄSSA
        h1 28/11 - 1/12, 2022
    #section2
      .container
        .row
          .col.col-lg-6.text.pr-md-5
            h2 Vad är INKA?
            p INKA-mässan är sektionens årliga arbetsmarknadsdagar som i år anordnas i december. Syftet är att studenter på sektionen för Industriell Ekonomi och intressanta arbetsgivare ska möta varandra. Dessa möten sker i olika format. Under INKA-veckan anordnas lunchföreläsningar, casetävling, AW, kontaktsamtal, mingelmorgon och givetvis en mässa där studenter får mingla med företagsrepresentanter från olika företag. Mässdagen avslutas sedan med en pampig bankett!
          .col.d-none.d-lg-block.image
            img#featherImage(src='/img/feather2.png')
      #section2WaveBottom
        img(src='/img/section2-wave-bottom.svg')
    #section3
      .container
        .row
          .col.col-lg-8
            h2 Mässdagen
            p INKA-veckans höjdpunkt är själva mässdagen! Mässdagen börjar med ett frukostmingel där studenter får mingla med företag samtidigt som det serveras en trevlig frukost. Efter frukostminglet invigs arbetsmarknadsmässan och här kommer studenter ges möjlighet att träffa alla de spännande och intressanta företag som medverkar på INKA detta år.
            p Mässan kommer hållas i KC-foajen #[strong kl 10-16 den 1a December]. Under dagen kommer det parallellt med mässan även anordnas kontaktsamtal mellan studenter och företag. Efter mässan sker den traditionsenliga INKA-banketten som detta är hålls på Grand Hotel i Lund. 
            p Läs gärna mer om alla de företag som medverkar på INKA genom att trycka på företagets logga under #[a(href ='#businessesHeader') företag och sponsorer]!
          
    #info
      .container
        .row
          .col.text        
      #businessesHeader
        h2 Företag &amp; sponsorer
    #businesses
      include includes/business.pug

      #businessesWaveBottom
        img(src='/img/businesses-wave-bottom.svg')
    #contact
      include includes/footer.pug

    // jQuery, Popper.js, and Bootstrap JS
    include includes/scripts.pug