doctype html
html(lang='sv')
  head
   include includes/head.pug

  body
    include includes/navbar.pug
    #section1
      img#navbarLip(src='/img/navbar-lip.svg')
      #jumbotronContent
        h3 INKA ARBETSMARKNADSMÄSSA
        h1 06-09 DECEMBER, 2021    
    #section2
      .container
        .row
          .col.col-lg-6.text.pr-md-5
            h2 Vad är Inka?
            p INKA-mässan är sektionens årliga arbetsmarknadsdagar som i år anordnas i december. Syftet är att studenter på sektionen för Industriell Ekonomi och intressanta arbetsgivare ska möta varandra. Dessa möten sker i olika format. Under INKA-veckan anordnas lunchföreläsningar, casetävling, AW, kontaktsamtal, mingelmorgon och givetvis en mässa där studenter får mingla med företagsrepresentanter från olika företag. Mässdagen avslutas sedan med en pampig bankett!
          .col.d-none.d-lg-block.image
            img#featherImage(src='/img/feather2.png')
      #section2WaveBottom
        img(src='/img/section2-wave-bottom.svg')
    #section3
      .container
        .row
          .col.col-lg-8
            h2 Pre-INKA
            p Pre INKA närmar sig med stormsteg och vi i projektgruppen är oerhört taggade på att kickstarta INKA säsongen! Pre INKA finns till för att inspirera och förbereda studenter på den riktiga mässan i December och under en vecka så kommer schemat vara fullspäckat med events och annat roligt! Veckan påbörjas med en inspirationsföreläsning med 180 degrees consulting, för att sedan fortsätta med CV-gransking tillsammans med Sveriges Ingenjörer. Veckan avslutas sedan med en lunchföreläsning och en väldigt efterlängtad I-Pub!
    #info
      .container
        .row
          .col.text
        .row
          .col
      #businessesHeader
        h2 Företag &amp; sponsorer
    #businesses
      include includes/business.pug

      #businessesWaveBottom
        img(src='/img/businesses-wave-bottom.svg')
    #contact
      include includes/footer.pug

    // jQuery, Popper.js, and Bootstrap JS
    include includes/scripts.pug