doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title INKA
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/login.css')

  body
    .text-primary.login-clean
      form#passwordResetForm(method='post')
        h2 Återställ lösenord
        input#passwordResetToken(type='hidden', value= passwordResetToken)
        .form-group
          input#newPassword.form-control(type='password', placeholder='Nytt lösenord', required)
          #passwordStrengthWrapper
            .progress
              .progress-bar
            p#passwordStrength
        .form-group
          input#repeatPassword.form-control(type='password', placeholder='Upprepa lösenord', required)
        .form-group
          button.btn.btn-primary.btn-block(type='submit') Sätt nytt lösenord

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js')
    script(src='/js/resetPassword.js')