h3 Din återställningslänk

p 
  | Här kommer din länk för att återställa ditt lösenord på INKAs företagssida, 
  | om det inte var du som begärde den kan du ignorera det här meddelandet.

a(href= 'https://' + config.domain + '/resetPassword?token=' + user.passwordResetToken.token)= 'https://' + config.domain + '/resetPassword?token=' + user.passwordResetToken.token
